<%= render 'navbar' %>
<div class="center">
<h1> LeaderBoard </h1>

<div class="panel panel-default newest">
	  <div class="panel-heading">
	    <h3 class="panel-title">Leading Players</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>

	  <!-- Table -->
	  <table class="table">
		<tr>
		  <th>Rank</th>
		  <th>Username</th>
		  <th class="plays">Total Plays</th>
		  <th class="rating">Total Score</th>
		</tr>

		<%= will_paginate %>
		<!-- Pull subsequent rows from db -->
		<% @users.each do |user| %>
			<tr>
			  <td>Rank</td>
			  <td><%= user.username %></td> 
			  <td>Games Played</td>
			  <td>Score?</td>
			</tr>
		<% end %>
		<%= will_paginate %>
  	  </table>
</div>

<div class="panel panel-default newest">
	  <div class="panel-heading">
	    <h3 class="panel-title">Leading Authors</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>

	  <!-- Table -->
	  <table class="table">
		<tr>
		  <th>Username</th>
		  <th class="plays">Total Plays</th>
		  <th class="rating">Average Rating</th>
		  <th>Top Game</th>
		  <th></th>
		</tr>

		<%= will_paginate %>
		<!-- Pull subsequent rows from db -->
		<% @users.each do |user| %>
			<tr>
			  <td><%= user.username %></td>
			  <td>Plays</td> 
			  <td>Rating</td>
			  <td>Top Game</td>
			  <td><%= link_to "Play!", '#', class: "play-now btn" %></td>
			</tr>
		<% end %>
		<%= will_paginate %>
  	  </table>
</div>

</div>