<div class="center">
<h1> LeaderBoard </h1>

<div class="panel panel-default newest">
	  <div class="panel-heading">
	    <h3 class="panel-title">Leading Players</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>

	  <!-- Table -->
		<%= will_paginate @player_table%>
	  <table class="table">
		<tr>
		  <th>Rank</th>
		  <th>Username</th>
		  <th class="plays">Total Plays</th>
		  <th class="rating">Total Score</th>
		</tr>

		<!-- Pull subsequent rows from db -->
		<% @player_table.each do |user| %>
			<tr>
			  <td>Rank</td>
			  <td><%= user.username %></td> 
			  <td>Games Played</td>
			  <td>Score?</td>
			</tr>
		<% end %>
  	  </table>
		<%= will_paginate @player_table %>
</div>

<div class="panel panel-default newest">
	  <div class="panel-heading">
	    <h3 class="panel-title">Leading Authors</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>

	  <!-- Table -->
	  <%= will_paginate @author_table%>
	  <table class="table">
		<tr>
		  <th>Username</th>
		  <th class="plays">Total Plays</th>
		  <th class="rating">Average Rating</th>
		  <th>Top Game</th>
		  <th></th>
		</tr>

	
		<!-- Pull subsequent rows from db -->
		<% @author_table.each_with_index do |user, i| %>
			<tr>
			  <td><%= link_to user.username, user_path(user) %></td>
			  <td><%= total_plays(user) %></td> 
			  <td><%= avg_ratings(user) %></td>
			  <td><%= top_game(user) %></td>
			  <td><%= link_to "Play!", '#', class: "play-now btn" %></td>
			</tr>
		<% end %>
  	  </table>
		<%= will_paginate @author_table %>
</div>

</div>