<div class="center">

  <div class="user-profile">
    <div class= "profile-left">
      <div class='name'><%= @user.username %></div>
      <%= @user.first_name unless @user.first_name.nil? %>
      <%= @user.last_name unless @user.last_name.nil? %>
      <br>
      <br>
      <%if current_user? (@user) %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: 'btn' %>
      <% end %>
    </div>
    <div class="profile-right ">
      <table class="table">
        <tr>
        <th>Game Stats</th>
        </tr>
        <%if current_user? (@user) %>
        <tr>
        <td><%= link_to "Upload a New Game", new_game_path, class: "upload-game btn" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="panel panel-default user-played-games">
    <div class="panel-heading">
      <h3 class="panel-title">Recently Played</h3>
    </div>
    <!-- Table -->
    <table class="table">
    <tr>
      <th class="title">Title</th>
      <th class="author">Author</th> 
      <th class="plays">Plays</th>
      <th class="rating"> Rating</th>
      <th class="prog">Progress</th>
    </tr>

    <!-- Pull subsequent rows from db -->
    <% @games_played.each do |game| %>
    <tr>
      <td><%= game.title %></td>
      <td><%= link_to game.user.username, user_path(game.user) %></td> 
      <td>94</td>
      <td>8</td>
      <td>100%</td>
      <td><%= link_to "Finish!", game_path(game), class: "play-now btn" %></td>
    </tr>
    <% end %>
      </table>
  </div>

  <div class="panel panel-default user-played-games">
    <div class="panel-heading">
      <h3 class="panel-title">My Games</h3>
    </div>
    <!-- Table -->
    <table class="table">
    <tr>
      <th class="title">Title</th>
      <th class="author">Author</th> 
      <th class="plays">Plays</th>
      <th class="rating"> Rating</th>
    </tr>

    <!-- Pull subsequent rows from db -->
     <% @games_authored.each do |game| %>
    <tr>
      <td><%= link_to game.title, game_path(game) %></td>
      <td><%= game.user.username %></td> 
      <td>94</td>
      <td>8</td>
    </tr>
    <% end %>
      </table>
  </div>


</div>