<div class='center'>
<h1>Make a Game!</h1>

<div class="center form-container">
  <div class="span6 offset3">
    <%= form_for(@game) do |f| %>

      <%= render 'shared/game_error_messages' %>

      <%= f.label :title, class: 'label' %>
      <%= f.text_field :title, class: 'input' %>
      <br>


      <%= f.label :link, class: 'label' %>
      <%= f.text_field :link, class: 'input' %>
      <br>

      <%= f.label :description, class: 'label' %>
      <%= f.text_field :description, class: 'input'  %>
      <br>
 

      <%= f.label :genre, class: 'label' %>
      <%= f.text_field :genre, class: 'input'  %>
      <br>

      <%= f.submit "Create Game", class: "btn btn-large btn-primary sign-in" %>
    <% end %>
  </div>
</div>
</div>
