<%= render 'navbar' %>
<div class="center">

  <div class="user-profile">
    <div class= "profile-left">
      <div class="name"><%= @game.title %></div>
      <%if current_user? (@game.user) %>
        <%= link_to "Edit Game", edit_game_path(@game), class: 'btn' %>
      <% end %>

      <table class="table">
        <tr>
          <th>Rating</th>
          <th>Plays</th>
        </tr>
        <tr>
          <td><%= rating(@game) %>/10</td>
          <td><%= game_total_plays(@game) %></td>
        </tr>
      </table>
    </div>

    <div class="profile-right">

      <img src='http://i.kinja-img.com/gawker-media/image/upload/s--F_SVgFM9--/c_fit,fl_progressive,q_80,w_636/18kgudf97suzupng.png'>

      <%= form_for(@experience) do |f| %>

        <%= f.label :rating %>
        <%= f.number_field :rating, in: 1..10, value: @experience.rating %>

        <%= f.label :progress %>
        <%= f.number_field :progress, in: 1..100, value: @experience.progress %>

        <%= f.hidden_field :user, value: current_user.id %>
        <%= f.hidden_field :game, value: @game.id %>

        <%= f.submit "Save", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>